body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #777;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

section {
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game {
  width: 200px;
  margin: 10px;
}

.game img {
  width: 100%;
  height: auto;
}

.game h3 {
  margin-top: 10px;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
